/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FAF5EF; /* 背景色与参考图一致 */
}

/* Header 样式 */
header {
    background-color: #3A8378;
    color: white;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-logo-image {
    height: 50px;
    width: auto;
}

.nav-container {
    margin-right: auto;
    margin-left: 20px;
}

#nav-select {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #444;
    color: white;
    cursor: pointer;
}

#nav-select option {
    background-color: #333;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #777;
}

/* Main 样式 */
.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #FAF5EF;
    max-width: 1200px;
    margin: 0 auto;
}

.text-container {
    max-width: 50%;
    margin-left: 100px;
}

h1 {
    font-size: 4em;
    color: #A96534;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h2 {
    font-size: 4em;
    color: #436675;
    margin-top: 10px;
}

.company-image-container {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.company-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.company-image:hover {
    transform: translateY(-5px);
}

/* Footer 样式 */
footer {
    background-color: #C4814B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 50px;
    padding: 0 20px;
}
