/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%; /* 确保 body 和 html 占据整个页面高度 */
    margin: 0;
}

/* Header 样式 */
header {
    background-color: #3A8378;
    color: white;
    padding: 20px 0;
    border-radius: 8px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-logo-image {
    height: 50px;
    width: auto;
}

.nav-container {
    margin-right: auto;
    margin-left: 20px;
}

#nav-select {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#nav-select option {
    background-color: #333;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #777;
}

.search-container img {
    width: 24px;
    height: 24px;
}

/* 公司介绍区块 */
.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: #fcf9ec;
    max-width: 1600px;
    margin: 0 auto;
}

.text-container {
    max-width: 50%;
}

h1 {
    font-size: 3em;
    padding: 50px;
    color: black;
    text-align: center;
}

h2 {
    font-size: 5.5em;
    padding: 50px;
    color: #436675;
    margin-top: 10px;
}

.company-image-container {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.company-image {
    height: 650px;
    width: 650px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.company-image:hover {
    transform: translateY(-5px);
}

/* 表单样式 */
.add-pet-container {
    background-color: white;
    max-width: 1900px;
    margin: 50px 0;
    padding: 20px;
    border-radius: 5px;
}

.add-pet-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #436675;
}

.add-pet-container input,
.add-pet-container textarea,
.add-pet-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.styled-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #3b7360;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #2c5d4d;
}

.outlined-button {
    background-color: white;
    color: #3b7360;
    border: 2px solid #3b7360;
}

.outlined-button:hover {
    background-color: #f0f0f0;
}

/* Gallery 样式 */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    margin: 30px 0;
}

.gallery-item {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 98%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.gallery-item h3 {
    padding: 10px;
    font-size: 1.5em;
    color: #333;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    opacity: 0.8;
}

.gallery-item .overlay {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

/* Footer 样式 */
.site-footer {
    background-color: #C4814B;
    color: white;
    padding: 50px 0;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    position: relative;
    bottom: 0;   
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;  /* 调整这里的 padding 让footer更宽 */
}

/* 保持 main 区域扩展以避免 footer 空白问题 */
main {
    flex-grow: 1;
}
